*{
    box-sizing: border-box;
}
body{
    background-color: #C0C0C0;
}
.text-gold {
    color: #CBB28C;
}

.title {
    text-align: right;
}
.flex img{
    width: 10vh;
}

.carousel-container {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.carousel-item {
    flex: 0 0 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 1;
}

.carousel-nav.left {
    left: 0.5rem;
}

.carousel-nav.right {
    right: 0.5rem;
}